$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* === FONTS === */ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);

/* === PARTIALS ===*/
@import "partials/variables";

/* === HELPERS === */

// whole block
.center-block {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

// individual blocks
.center {
  text-align: center;
  
}

.caption {
  width: 50%;
}

.upperCase {
  text-transform: uppercase;
}

.note {
  margin-top: -.8em;
}

.intro {
  padding-top:8%;
}

.spacer {
  padding-top:5%;
  padding-bottom:5%;
}



/* === GLOBALS === */
body {
  height: 100%;
  font-family: $font-stack;
  color: $fontColor;
}

h1 {
  color: $headingColor;
}

hr {
  border-width: 5px;
  border-top: 5px solid black;
}

/* === LANDING PAGE === */
#landing-page {
  position: relative;
  height: 100vh;
  background: $landingBackground;
}

/* === MAIN NAV === */
// GENERAL NAV STYLES
.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: $landingBackground;
  border-color: $clearBlack;
}

// NAV DROPDOWN
.menu-toggle {
  position: fixed;
  margin-top: .8em;
  margin-bottom: .8em;
}

// CENTERED LOGO
.nav-logo {
  margin-top: 1.0em;  
  padding-bottom: 1.0em;
}

// DROPDOWN
.dropdown-menu {
  background-color: $landingBackground;
}

div#nav {
  background-color: back;
  -webkit-transition: width .40s, height .40s; /* For Safari 3.1 to 6.0 */
  transition: width .40s, height .40s;
}

div#nav:hover {
  width: 300px;
  height: 300px;
}

// SOCIAL ICONS
.social-icons {
  display: none;
  padding-top: 1.8em;

}

.social-icons i {
  padding-left: .5em;
  
}


@media (min-width: 992px) { 
  .social-icons {
    display: block;
  }
}

#main-jumbotron {
  position: absolute;
  top: 10%;
  margin-top: 15%;
  left: 0;
  width: 100%;
  background-color: $landingBackground;
}

#arrow {
  margin-top: 13em;
}

/* === #FEATURES === */
#features {
  
}

.features-intro {
  padding: 8% 8%;
}

.feature-icon {
  padding-top: 1.2em;
}

.feature-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.feature-row-container {
  
}

#pricing {
  padding-top: 10em;
  padding-bottom: 10em;
}

.price-block {
  padding-top: 3em;
}

.pricing-intro {
  padding-bottom: 5em;
}

.img-circle {
  background-color: #B8B8B8;
  width: 10em;
  height: 10em;
}

.img-circle i {
  margin-top: .55em;
}

.pricing-title {
  padding-top: 2em;
  padding-bottom: .5em;
}

.price-underline {
  border-bottom: 2px solid black;
  padding-bottom: .05em;
}

h3 .price {
  margin-bottom: 20px;
}

.btn {
  border: 2px solid black;
  background-color: rgba(0,0,0,.0);
  border-radius: 0px;
  padding: 1em 5em 1em 5em;
 
}

.work-container {
  padding-top: 3em;
  padding-bottom: 7em;
}

/* === TEAM === */
#team {
  padding-top: 10em;
}

.team-member {
  padding-top: 5em;
}

/* === STATS & TESTAMONIALS === */
#stats {
  padding-top: 10em;
}

.fa-puzzle-piece {
  padding-left: 17px;
}

#quote {
  padding-top: 4em;
  width: 60%;
}

.fa-quote-right {
  padding-top: 1.2em;
}

/* === CONTACT === */
form input, textarea {
  border: 2px solid black;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

form button {
  margin-top: 15px;
}

.contactBtn {
  background-color: black;
  color: white;
}

/* === FOOTER === */
footer {
  background-color: black;
  color: white;
}

footer h1 {
  color: white;
}

#footer {
  height: 100%;

}

.footer {
  background-color: white;
  color: black;
  padding: .8em 1.5em;
  margin-bottom: 1.2em;
  margin-left: 1em;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .feature-container {
    width: auto;
    text-align: left;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  section {
    position: relative;
    height: 100vh;
  }

  .feature-row-container {
    padding-bottom: 8%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
