/* === VARIABLS === */
$font-stack: 'Ubuntu', sans-serif;
$glass: rgba(255,255,255, 1);
/* change below to (252, 219, 0, 1.0) for yellow */
$landingBackground: rgba(252, 219, 0, 1.0);
$clearBlack: rgba(0,0,0,.1);
$headingColor: black;
$fontColor: black;