section#pricing {

  margin-top: 110px;
  padding-top: 125px;

  .price-block {
    padding-top: 3em;
  }
  
  .pricing-intro {
    padding-bottom: 5em;
  }
  
  .img-circle {
    background-color: #B8B8B8;
    width: 10em;
    height: 10em;
  }
  
  .img-circle i {
    margin-top: .55em;
  }
  
  .pricing-title {
    padding-top: 2em;
    padding-bottom: .5em;
  }
  
  .price-underline {
    border-bottom: 2px solid black;
    padding-bottom: .05em;
  }
  
  h3 .price {
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


